__pycache__/
*.py[codz]
*$py.class
.Python
build/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/
__pypackages__/
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytype/
cython_debug/
