### Java ###
*.class
*.jar
*.war
*.ear
*.nar
.mtj.tmp/
hs_err_pid*
replay_pid*
rebel.xml
*.db

### Build Directories ###
/build/
.gradle/
target/
libs/
tmp/
node_modules/
ivy-cache/
activemq-data/
classes/

### IDEs ###
/.idea/
*.iml
*.iws
*.ipr
out/
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/
*.code-workspace

### Gradle ###
.gradletasknamecache
gradle-app.setting
buildSrc/build/
/spring-*/build/
/framework-*/build/
/integration-tests/build/
/src/asciidoc/build/
spring-test/test-output/

!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/

### Logs & OS ###
jxl.log
jmx.log
derby.log
.DS_Store
Thumbs.db
Desktop.ini
.svn
._*

### Env & Misc ###
.env
.env.production
*.java.hsp
*.sonarj
*.sw*
argfile*
.wakatime-project
