server:
  port: 8765

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: people-service
          uri: lb://PEOPLE-SERVICE
          predicates:
            - Path=/api/v1/people/**
        - id: demography-service
          uri: lb://DEMOGRAPHY-SERVICE
          predicates:
            - Path=/api/v1/demography/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
